@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {background-color: #403964;}

/* 바탕 이미지 */
.back_img_h {
	grid-column: 2;
    display: flex;
	width: 42vw;
	height: auto;
	position: fixed;
    bottom: 0;
	margin-left: 50vw;
}

/* 로고 이미지 */
.login-img {
    width: 25vw;
    height: 20vh;
}

/* 전체 컨테이너 */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

/* form 컨테이너 */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25vw;
}

/* 나머지 컨테이너 */
.container2 {
    display: inline-block;
    width: 25vw;
}

/* 아이디, 비밀번호 input */
#id_username, #id_password {
    font-family: 'GangwonEdu_OTFBoldA';
    border: none;
    width: 200px;
    background-color: #403964;
    margin-top: 6vh;
    float: right;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

/* input check박스 */
.login-check {
    border-radius: 20px;
    display: inline-block;
}

/* input check박스 문구 */
.login-stay {
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgb(255, 255, 255);
    display: inline-block;
    margin-top: 6vh;
}

/* 아이디 찾기 */
.login-search {
    font-family: 'Pretendard-Regular';
    font-size: 14.5px;
    color: rgb(255, 255, 255);
    float: right;
    font-size: 15px;
    margin-top: 6vh;
    cursor: pointer;
}
.login-search:hover {
    color: #FFBA00;
}

.login-first {
    font-family: 'GangwonEdu_OTFBoldA';
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 15px;
    margin-top: 6vh;
}

/* 회원가입 */
.signup {
    font-family: 'Pretendard-Regular';
    color: #FFBA00;
    float: right;
    font-size: 15px;
    margin-top: 6vh;
    cursor: pointer;
}

/* 로그인 버튼 */
.login-btn {
    background-color: #8F87A7;
    font-family: 'Pretendard-Regular';
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    width: 25vw;
    height: 5vh;
    margin-top: 6vh;
    cursor: pointer;
}

/* 입력 글자 색 */
label {
    color: white;
    float: left;
}

/* input 클릭했을 때 강조X */
input {
    outline: none;
    color: white;
}